.hidden {
    display: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/*common*/
.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;

}
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}


/*header*/
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-list {
    display: flex;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
    margin-right: 76px;
    text-decoration: none;
}

.logo-studio {
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 40px;
}


.header-nav-link {
    color: #2e2f42;
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link.current {
    position: relative;
}

.header-nav-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-nav-link.current {
    color: #404bbf;
}

.address {
    display: block;
    font-style: normal;
}

.address-list {
    display: flex;
    gap: 40px;
}

.address-item-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list .address-item-link:hover,
.address-list .address-item-link:focus {
    color: #404bbf;
}

.hero {
    background-color: #2e2f42;
    /*height: 600px;*/
    max-width: 1440px;
    /*display: flex;
    align-items: center;*/
    padding: 188px 0;
    margin-left: auto;



    margin-right: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

@media (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office.jpg);
    }
}

        .hero .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    /*background-color: #2e2f42;*/
    max-width: 496px;
    margin: 0 auto 48px auto;
    font-weight: 700;
    text-align: center;
}

.button {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    background-color: #4d5ae5;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: #404bbf;
    color: #ffffff;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    flex-direction: row;
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-container {
    display: flex;
    align-items: center;
    margin-bottom: 120px;
}


.section-list {
    display: flex;
    gap: 24px;
}

.section-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.section-item {
    width: calc((100% - 72px) / 4);
}

.section-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-weight: 400;
    background-color: #ffffff;
    /*padding-bottom: 0;
    padding-right: 0;
    margin-right: auto;
    margin-left: auto;*/
}

.icon-section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
}


.team {
    background-color: #f4f4fd;
    padding: 120px 0;
    /* margin: 0 auto;*/
}

.teams {
    padding: 32px 0;
}

.team-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
}

.team-list {
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 24px;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-item {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.teams {
    padding: 32px 0;
    background: #fff;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;

}

.soc-icon-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    /*flex-shrink: 0;
    align-self: flex-end;*/
    list-style: none;
    margin-top: 8px;
    /*padding: 0 16px;
    flex-direction: row;*/
    align-items: center;
}

.soc-icon {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.media-icon {
    fill: #f4f4fd;
}

.soc-icon {
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-icon:hover,
.soc-icon:focus {
    background-color: #404bbf;
}



.portfolio {
    padding: 120px 0;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.portfolio-title {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    position: relative;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-image-container {
    position: relative;
    overflow: hidden;
    display: flex;
}

.portfolio-image-container img {
    display: block;
    width: 100%;
    height: auto;
}

.portfolio-description {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-description {
    transform: translateY(0%);
}

.portfolio-content {
    padding: 32px 16px;
    background-color: #ffffff;
}

.portfolio-subtitle {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
}

.portfolio-text {
    font-size: 14px;
    color: #6c6c6c;
}


.footer {
    background-color: #2e2f42;
    /*font-family: "Raleway", sans-serif;*/
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
    /*margin-right: 120px;*/
}

.footer-logo-text {
    margin-right: 120px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo .span {
    color: #f4f4fd;
}

.footer-text {
    line-height: 1.5;
    font-size: 16px;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    max-width: 264px;
    /*margin-bottom: 16px;*/
}

/*.footer-social-contact {
    margin-right: 208px;
    height: 80px;
}*/

.footer-list-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-top: 0;
    margin-bottom: 16px;
    padding-bottom: 3px;
    padding-top: 0;
}


.footer-list {
    display: flex;
    gap: 16px;
}

.footer-links-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}

.footer-media-icon {
    fill: #f4f4fd;
}

.footer__subscribe-wrapper {
    margin-left: 80px;
}

.footer__subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer__subscribe-form {
    display: flex;
    gap: 24px;
}

/*.footer__subscribe-label {}*/

.footer__subscribe-input {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: transparent;
    min-width: 264px;
    min-height: 40px;
    flex-shrink: 0;
    padding-left: 16px;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    /*filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));*/
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    outline: none;
}

.footer__subscribe-input::placeholder {
    color: #ffffff;
}

.footer__subscribe-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40px;
    min-width: 165px;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__subscribe-button:hover,
.footer__subscribe-button:focus {
    background-color: #4D5AE5;
}

.footer__subscribe-icon {
    fill: #ffffff;
    margin-left: 16px;
}


/* Modal window */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 1;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
}

.modal__button-close {
    padding: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #E7E9FC;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.modal__button-close:hover,
.modal__button-close:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal__icon-close {
    fill: #004080;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-close:hover .modal__icon-close,
.modal__button-close:focus .modal__icon-close {
    fill: #ffffff;

}

.modal__title {
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-align: center;
    margin-bottom: 16px;
    display: block;
}

.modal__wrapper {
    margin-bottom: 8px;
}

.modal__label {
    color: #8e8f99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    margin-bottom: 4px;
}

.modal__icon-wrapper {
    position: relative;
}

.modal__input {
    width: 100%;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus {
    border-color: #4D5AE5;
}

.modal__input:focus+.modal__icon {
    fill: #4D5AE5;
}

.modal__icon {
    fill: #004080;
    /* колір navy-blue */
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__text-field-wrapper {
    margin-bottom: 16px;
}

.modal__text-field {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    width: 100%;
    min-height: 120px;
    padding: 8px 16px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
}

.modal__text-field::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.modal__text-field:focus {
    border-color: #4D5AE5;
}

.modal__check-wrapper {
    margin-bottom: 24px;
}

.modal__check-input:checked+.modal__check-text .modal__check-box {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
    color: #8e8f99;
}

.modal__check-input:checked+.modal__check-text .modal__icon-check {
    fill: #F4F4FD;
}

.modal__check-box {

    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    fill: transparent;
}

.modal__check-text {
    color: #8e8f99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    /*display: flex;*/
    align-items: center;
}

.modal__icon-check {
    fill: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
}

.modal__link-text {
    color: #4d5ae5;
    text-decoration: underline;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-submit {
    display: block;
    /*width: 100%;*/
    min-width: 169px;
    height: 56px;
    padding: 12px 32px;
    border-radius: 4px;
    font-weight: 500;
    background-color: #4D5AE5;
    color: #ffffff;
    border: none;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-submit:hover,
.modal__button-submit:focus {
    background-color: #5b63d6;
    /* колір iris */
}










@media screen and (min-width: 768px) {

    /* mob-menu */
    .mobile-menu {
        display: none;
    }
}
    .burger-btn {
        display: none;
    }

    /* header */

    .header-nav {
        display: flex;
        align-items: center;
    }

    .header-list {
        display: flex;
        gap: 40px;
        align-items: center;
    }

    .logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .address {
        font-style: normal;
        display: block;
    }

    .header-nav-link {
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-nav-link:hover,
    .header-nav-link:focus,
    .address:hover,
    .address:focus,
    .header-nav-link.current {
        color: #404bbf;
    }

    .navigation-link.current {
        position: relative;
    }

    .navigation-link.current::after {
        content: "";

        position: absolute;
        left: 0;
        bottom: -1px;

        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404bbf;
    }

    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .address-item-link {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

        @media screen and (min-width: 768px) {
            .mobile-menu {
                display: none;
            }
        }

                @media screen and (min-width: 1158px) {
        
                    /* header */
                    .header-logo {
                        margin-right: 76px;
                    }
                }